################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExceptionHandler.API
/ExceptionHandler.API/bin
/ExceptionHandler.API/obj